@charset "UTF-8";

/* Table */

table {
  margin-top: 5%;
  margin-left: 20%;
  border-collapse: collapse;
}

td {
  height: 150px;
  width: 150px;
  border: 2px solid black;
}

table tr:first-child td {
  border-top: unset;
}

table tr:last-child td {
  border-bottom: unset;
}

table tr td:first-child {
  border-left: unset;
}

table tr td:last-child {
  border-right: unset;
}

p.center {
  font-size: 80px;
  margin: 0px;
  text-align: center;
}

aside#menu {
  position: relative;
  top: -460px;
  left: 900px;
  width: 210px;
  border: 2px solid black;
  padding: 2px 10px 15px 10px;
  box-shadow: 2px 2px 1px black;
}
